@model List<LoginPicker>
@{
	ViewData["Title"] = "Otel Transilvanya";
}


<link rel="stylesheet" href="/css/pageindex.css" />
<link rel="stylesheet" href="/css/TestPage.css" />
<link rel="stylesheet" href="/css/TestPage2.css" />

<!--Hey! This is the original version
of Simple CSS Waves-->
<div class="header">

	<!--Content before waves-->
	<div class="inner-header flex">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-md-push-5">
					<div class="booking-cta login-bg">
						<h1>REZERVASYONUNUZU YAPIN</h1>
						<p>
							Sizin ve sevdiklerinizin sağlığı, güvenliği ve konforu her zaman için en büyük önceliğimiz. İçinizin rahat etmesi için yeni sürece yüksek bir konsantrasyon, titizlik ve özenle hazırlandık. Her yıl olduğu gibi bu yıl da sizi güvenle ağırlamayı bekliyoruz.
						</p>
						<div class="d-flex justify-content-center "><iframe src="https://www.genelpara.com/embed/?symbol=doviz&doviz=USD,EUR,GBP&stil=stil-1&renk=beyaz" style="width:600px; height:65px;"></iframe></div>
					</div>					
				</div>
				<div class="col-md-4 col-md-pull-7 justify-content-center">				
					<div class="booking-form" >
						<form>
							@*@foreach (LoginPicker item in Model)
							{*@
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Giriş Tarihi</span>
											<input id="startDate" class="form-control" type="date" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Çıkış Tarihi</span>
											<input id="endDate" class="form-control" type="date" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Oda Tipi</span>
											<select id="roomSelect" class="form-control">
												<option value="" id="roomStandart">1</option>
												<option value="" id="">2</option>
												<option value="" id="">3</option>
												<option value="" id="">4</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Yetişkin</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Çocuk</span>
											<select class="form-control">
												<option>0</option>
												<option>1</option>
												<option>2</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
							@*}*@
							<div class="form-btn">
								<button asp-action="TestPage" asp-route-id="" class="submit-btn">Odaları Listele</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>



	<!--Waves Container-->
	<div>
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			 viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
			<defs>
				<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
			</defs>
			<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
			</g>
		</svg>
	</div>
	<!--Waves end-->

</div>
<!--Header ends-->
<!--Content starts-->
<div class="content flex">
	<p><b>Nazım ÖZTÜRK</b></p>
</div>
<!--Content ends-->
